@media(max-width: 600px){
    #image{
        display: none;
    }
    #mail, #pass, #member, #sign,  #forgot,  #create{
        margin-left: 20px;
    }
    table, tr,td {
        margin-left: -50px;
        border: 1px solid blue;
        border-collapse: collapse;
        width: 20%;
         /* margin-top: 50px;
         padding: 20px;
         height: 10px; */
         /* color: blue; */
         /* width: fit-content; */
        
    }
    #myTable{
        margin-left: -10px;
        width: 100%;
    }
}
